<html>
    <head>
        <meta charset="utf-8">
        <title>Search engine</title>
        <style>
            div {
            width: 800px;
            padding: 10px;
            border: 5px solid gray;
            margin: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Find text</h1>
        <!--Reload the page with variable "query" in the URL-->
        <form>
            <input type="text" name="query" autofocus>
            <input type="submit" value="Search">
        </form>        
            {% for item in matches %}
            <div>    <!--Display the name of the item based on the "name" key-->
                <h3 style="color:green">{{ item["name"] }}</h3>
                <p>{{item["sisalto"]}}</p>
            <!--End for loop-->
            </div>
            {% endfor %}
    </body>
</html>
                               
